{% extends "admin/base.html" %}

{% load mytags%}
{% block tittle %}
  乔治白--extended tittle 
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
<table class="list" border="1">
  <tr>
    <th>序号</th>
    <th>名称</th>
    <th>别名</th>
    <th>类别</th>
    <th>操作</th>
  </tr>
  {% for cate in rs%}
  <tr>
    <td>{{cate.id}}</td>
    <td>{{cate.name}}</td>
    <td>{{cate.alias}}</td>
    <td>
      {% if cate.cate_type == 'SINGLE'%}
      单页面分类
      {% else %}
      常规分类
      {% endif %}
    </td>
    <td style="text-align:center">
      <a href="{%url 'admin:category_act' action='edit' %}?cid={{cate.id}}">编辑</a> &nbsp; | &nbsp; 
      {% if cate.status == 99 %}
      <a href="{%url 'admin:category_act' action='forbid' %}?cid={{cate.id}}&act=forbid">禁用</a>
      {% else %}
      <a style="color:#ccc" href="{%url 'admin:category_act' action='forbid' %}?cid={{cate.id}}&act=active">启用</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
<ul class="page">
  <a href="?cn=1" ><li>首页</li></a>
  <a href="?cn={{c_prev}}" ><li>上一页</li></a>
{% for c in c_list %}
<a href="?cn={{c}}" 
  {% if cn == c %}
    class="current_page" 
  {%endif%}
  ><li>{{c}}</li></a>
{% endfor %}
<a href="?pn={{c_next}}" ><li>下一页</li></a>
<a href="?pn={{c_total}}" ><li>末页</li></a>
</ul>

{% endblock %}
