<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="images/css/style.css"  />
		<script src="images/js/jquery.min.1.11.3.js"></script>
		<style>
			
		</style>
	</head>
	<body>
		<div id="topall" class="toplvl-box"></div>
		<div id="top" class="toplvl-box">
			<div id="logo" ><a  target="_blank" href=""><img src="images/logo.png" /></a></div>
			<div id="nav" >
         <ul class="nav-main">  
					<li><a href="index.html"  cateid='1'>乔治白·山东</a></li>
					<!--<li><a  target="_blank" href="" cateid='1'>乔治白</a></li>-->
					<li><a target="_blank" href="zyz.html" cateid=2>职 业 装</a></li>
					<li><a target="_blank" href="pinpai.html" cateid=3>品牌展示</a></li> 
					<li class="nav-btm-line"><a   if-crnt="1"  target="_blank" href="keji.html" cateid=4>科技力量</a></li>
					<li><a  target="_blank" href="gongsi.html" cateid=5>公司资讯</a></li>
					<li><a  target="_blank" href="lianxi.html" cateid=6>关于我们</a></li> 
				</ul>
				<div class="clr"></div>
				<ul class="nav-sub">
					<li><a  target="_blank" href="" >关于我们</a></li>
					<li><a  target="_blank" href="" >联系我们</a></li>
					<li><a  target="_blank" href="" >服装定制</a></li>
				</ul>
			</div>
		
		</div> 
		<div id="main" class="toplvl-box"> 
			<div class="cate-kj-content"> 
				<div class="content-lft">
					<div class="head">
						<div class="head-content">
							<span>工艺简介</span>
							<span>动态演示</span>
							<span>四大科技</span>
							<span>七大特点</span>
						</div>
						<div class="foot">
							<span class="up scroll-nrw">&nbsp;</span>
							<span class="down scroll-nrw">&nbsp;</span>
						</div>
						<div class="clr"></div>
					</div>
					<div class="main">
						<div class="scroll-content content">
							<img src="images/kj-touqi.png" style="float:left;margin-right:10px" />乔治白率先将新雪丽保温材料引入衬衫领域，并应用人体工程学令纤薄隔热层与衬衫完美结合，使衬衫具备优越的保暖性，且顺直服帖。此外，为应对不同气候条件的需求，在吸湿、排汗的基础上，桑蚕丝、竹纤维等保暖材料也将被应用。
与此同时，我们充分理解在严寒的气候，仅仅保暖是远不够的。乔治白成衣纳米抗污技术，将纳米材料直接与纤维发生交联反应，在纤维表面上形成一层纳米级厚度的保护膜，使得织物表面呈现纳米级几何形状互补的界面结构，每个微孔的大小大约只有一滴水的万分之一，这就意味着，在织物表面有效形成“荷叶效应”，对各种水渍、油渍、干污形成天然屏障，有效抵制污渍。不仅如此，基于面料特殊后整理，丝毫不损伤织物的呼吸性能，微孔的大小是水汽分子的上百倍，汗液能透过微孔轻易地蒸发掉，从而保证您从内到外都干爽舒适，良好的透气性是保证您舒适的一个重要因素。
每一款4A热保护功能性衬衫整个生产过程采用的是生态环保工艺，全程不产生污染物排放，无残留，天然环保。4A热保护功能性衬衫持久保暖、抗污、透气，并自始至终保持其出色的性能。 集合了原材料和面料特殊后整理两个领域的科研成果，是继EEQ记忆衬衫后的又一技术革新。<br />sdfsdf<br />sdfsdf<br />sdfsdf<br />sdfsdf<br />sdfsdfddddddddddddddd
f
						</div>
						<div class="content-rgt">sdfffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff</div>
					</div>
					<div class="kj-thumb">
						<div id='4a'></div>
						<div id='eeq'></div>
						<div id='upc'></div>
						<div id='rk'></div>
					</div>
				</div>
			</div>
		</div>
		<div id="footer" class="toplvl-box">
			<div class="lft">
				<div></div>
			</div>
			<div class="mdl">
				<div>
				<a  target="_blank" href="">网站地图</a>
				<a  target="_blank" href="">版权所有</a>
				<a  target="_blank" href="">隐私安全</a>
				<a  target="_blank" href="http://www.giuseppe.cn">总部网站</a>
				<a  target="_blank" href="">联系方式</a>
				</div>
			</div>
			<div class="rgt">
				<div></div>
			</div>
			<img src="images/erweima-wx.png" id="wei-img" style="display:none"/>
		</div>	
		<div id="bg-wrapper">
			<img id="bg-all" style="width:100%;" src="images/bgbig/a12.jpg"  />
		</div>
		<script src="images/js/main.js"> </script>
	</body>
</html>
