<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="images/css/style.css"  />
		<script src="images/js/jquery.min.1.11.3.js"></script>
		<style>
			
		</style>
	</head>
	<body>
		<div id="topall" class="toplvl-box"></div>
		<div id="top" class="toplvl-box">
			<div id="logo" ><a  target="_blank" href=""><img src="images/logo.png" /></a></div>
			<div id="nav" >
	    		<ul class="nav-main">  
					<li><a href="index.html"  cateid='1'>乔治白·山东</a></li>
					<!--<li><a  target="_blank" href="" cateid='1'>乔治白</a></li>-->
					<li class="nav-btm-line"><a if-crnt="1"  target="_blank" href="zyz.html" cateid=2>职 业 装</a></li>
					<li><a  target="_blank"  href="cate.html" cateid=3>品牌展示</a></li> 
					<li><a  target="_blank" href="keji.html" cateid=4>科技力量</a></li>
					<li><a  target="_blank" href="gongsi.html" cateid=5>公司资讯</a></li>
					<li><a  target="_blank" href="gongsi.html" cateid=6>联系我们</a></li> 
				</ul>
				<div class="clr"></div>
				<ul class="nav-sub">
					<li><a  target="_blank" href="" >关于我们</a></li>
					<li><a  target="_blank" href="" >联系我们</a></li>
					<li><a  target="_blank" href="" >服装定制</a></li>
				</ul>

			</div>
	
		</div> 
		<div id="main" class="toplvl-box"> 
			<div class="cate-gs-content"> 
				<div class="content-lft">
					<div>
						<ul>
							<li>关于我们</li>
							<li>企业文化</li>
							<li>资质荣誉</li>
							<li>联系方式</li> 
						</ul>
					</div>
				</div>
				<div class="content-rgt">
					<div class="head">
						 关于我们 
						
						<div class="foot">
							<span class="up scroll-nrw">&nbsp;</span>
							<span class="down scroll-nrw">&nbsp;</span>
						</div>
					</div>
					<div class="main">
						
						<div class="scroll-content content">
							 西安

    “履约”访问习近平家乡、古丝路起点

    据新华社报道，印度总理莫迪在当地时间12日接受中国驻印度媒体联合采访时表示，这次访问西安，是对习主席访问的回访。去年9月，习近平主席对印度进行国事访问，首站去了莫迪的故乡———古吉拉特邦，当天正好是莫迪64岁生日，两人的“生日外交”“散步外交”成为媒体报道的热点。

    莫迪访问中国的消息早在几个月之前就已经传出，不过，据《印度时报》报道，印方原计划安排莫迪先访问韩国，再去中国和蒙古国。但莫迪后来更改计划，决定首站来华。作为回报，中国将首次以唐代仪式欢迎莫迪。

    据印媒透露，莫迪可能会登上大雁塔，大雁塔是玄奘法师取经归来，为保存经卷和佛像而修建的。西安也是当年玄奘藏经译经的地方，见证了中印两国的历史渊源。值得一提的是，在参观大雁塔之余，莫迪还将向中国赠送在佛教圣地菩提伽耶培育的菩提树苗，这是印度在1954年前总理尼赫鲁来华访问后再次向中国赠送菩提树苗。

    北京大学南亚研究中心主任姜景奎认为，首站陕西有两个含义，首先，陕西是习近平的家乡，这与此前习近平前往莫迪的故乡有所呼应，莫迪“履约”而来，这种精心安排，体现了双方对访问的重视，显示了中印领导人的个人友谊，也可以向外界展示两国抛开分歧的决心；此外，陕西作为古丝绸之路的起点，在“一带一路”框架下将这里作为首站有特别的意义
						</div>
					</div>

				</div> 
				
			</div>
		</div>
		<div id="footer" class="toplvl-box">
			<div class="lft">
				<div></div>
			</div>
			<div class="mdl">
				<div>
				<a  target="_blank" href="">网站地图</a>
				<a  target="_blank" href="">版权所有</a>
				<a  target="_blank" href="">隐私安全</a>
				<a  target="_blank" href="http://www.giuseppe.cn">总部网站</a>
				<a  target="_blank" href="">联系方式</a>
				</div>
			</div>
			<div class="rgt">
				<div></div>
			</div>
			<img src="images/erweima-wx.png" id="wei-img" style="display:none"/>
		</div>	
		<div id="bg-wrapper">
			<img id="bg-all" style="width:100%;" src="images/bgbig/a161.jpg"  />
		</div>
		<script src="images/js/main.js"> </script>
	</body>
</html>
