<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
		<link rel="stylesheet" href="images/css/style.css"  />
		<script src="images/js/jquery.min.1.11.3.js"></script>
		<style>
			
		</style>
	</head>
	<body>
		<div id="topall" class="toplvl-box"></div>
		<div id="top" class="toplvl-box">
			<div id="logo" ><a  target="_blank" href=""><img src="images/logo.png" /></a></div>
			<div id="nav" >
	      <ul class="nav-main">  
					<li><a href="index.html"  cateid='1'>乔治白·山东</a></li>
					<!--<li><a  target="_blank" href="" cateid='1'>乔治白</a></li>-->
					<li><a target="_blank" href="zyz.html" cateid=2>职 业 装</a></li>
					<li class="nav-btm-line"><a  if-crnt="1"  target="_blank" href="pinpai.html" cateid=3>品牌展示</a></li> 
					<li><a  target="_blank" href="keji.html" cateid=4>科技力量</a></li>
					<li><a  target="_blank" href="gongsi.html" cateid=5>公司资讯</a></li>
					<li><a  target="_blank" href="lianxi.html" cateid=6>关于我们</a></li> 
				</ul>
				<div class="clr"></div>
				<ul class="nav-sub">
					<li><a  target="_blank" href="" >关于我们</a></li>
					<li><a  target="_blank" href="" >联系我们</a></li>
					<li><a  target="_blank" href="" >服装定制</a></li>
				</ul>

     </div>

		</div> 
		<div id="main" class="toplvl-box"> 
			<div class="cate-content"> 
				<div class="content-lft">
					<div class="head">职业装<br/><span> GIUSEPPE UNIFORM</span></div>
					<div class="main">
						<div class="scroll-content content">
							乔治白于2012年7月13日成功登陆A股市场，成为中国职业装第一股，完成了从时尚职业装到职业装领导品牌的变革。
中意合资乔治白始终专注职业装行业，在中国职业装领域高端市场赢得众多客户的认同，全面领跑行业，客户范围覆盖金融、能源、通讯、电力、烟草等众多行业。
2008年乔治白率先提出“时尚创造差异”概念，打破不同行业间职业装不易分辨，同行业、同系统间出现完全不同的职业装，品牌、产品同质化严重的僵局，将时尚
2008年乔治白率先提出“时尚创造差异”概念，打破不同行业间职业装不易分辨，同行业、同系统间出现完全不同的职业装，品牌、产品同质化严重的僵局，将时尚理念融入职业装设计，引领并推动职业装行业的时尚化、差异化变革。
2008年乔治白率先提出“时尚创造差异”概念，打破不同行业间职业装不易分辨，同行业、同系统间出现完全不同的职业装，品牌、产品同质化严重的僵局，将时尚理念融入职业装设计，引领并推动职业装行业的时尚化、差异化变革。
					尚创造差异”概念，打破不同行业间职业装不易分辨，同行业、同系统间出现完全不同的职业装，品牌、产品同质化严重的僵局，将时尚理念融入职业装设计，引领并推动职业装行业的时尚化、差异化变革。
2008年乔治白率先提出“时尚创造差异”概念，打破不同行业间职业装不易分辨，同行业、同系统间出现完全不同的职业装，品牌、产品同质化严重的僵局，将时尚理念融入职业装设计，引领并推动职业装行业的时尚化、差异化变革。
					尚创造差异”概念，打破不同行业间职业装不易分辨，同行业、同系统间出现完全不同的职业装，品牌、产品同质化严重的僵局，将时尚理念融入职业装设计，引领并推动职业装行业的时尚化、差异化变革。
2008年乔治白率先提出“时尚创造差异”概念，打破不同行业间职业装不易分辨，同行业、同系统间出现完全不同的职业装，品牌、产品同质化严重的僵局，将时尚理念融入职业装设计，引领并推动职业装行业的时尚化、差异化变革。
					尚创造差异”概念，打破不同行业间职业装不易分辨，同行业、同系统间出现完全不同的职业装，品牌、产品同质化严重的僵局，将时尚理念融入职业装设计，引领并推动职业装行业的时尚化、差异化变革。
2008年乔治白率先提出“时尚创造差异”概念，打破不同行业间职业装不易分辨，同行业、同系统间出现完全不同的职业装，品牌、产品同质化严重的僵局，将时尚理念融入职业装设计，引领并推动职业装行业的时尚化、差异化变革。
					尚创造差异”概念，打破不同行业间职业装不易分辨，同行业、同系统间出现完全不同的职业装，品牌、产品同质化严重的僵局，将时尚理念融入职业装设计，引领并推动职业装行业的时尚化、差异化变革。
2008年乔治白率先提出“时尚创造差异”概念，打破不同行业间职业装不易分辨，同行业、同系统间出现完全不同的职业装，品牌、产品同质化严重的僵局，将时尚理念融入职业装设计，引领并推动职业装行业的时尚化、差异化变革。
					sss	</div>
					</div>
					<div class="foot"><span class="up scroll-nrw">&nbsp;</span><span class="down scroll-nrw">&nbsp;</span></div>
				</div>
				<div class="content-rgt">
					<div class="cate-thumb" id='cate-thumb-1'></div>
					<div class="cate-thumb" id='cate-thumb-2'></div>
					<div class="cate-thumb" id='cate-thumb-3'></div>
					<div class="cate-thumb" id='cate-thumb-4'></div>
				</div>
			</div>
		</div>
		<div id="footer" class="toplvl-box">
			<div class="lft">
				<div></div>
			</div>
			<div class="mdl">
				<div>
				<a  target="_blank" href="">网站地图</a>
				<a  target="_blank" href="">版权所有</a>
				<a  target="_blank" href="">隐私安全</a>
				<a  target="_blank" href="http://www.giuseppe.cn">总部网站</a>
				<a  target="_blank" href="">联系方式</a>
				</div>
			</div>
			<div class="rgt">
				<div></div>
			</div>
			<img src="images/erweima-wx.png" id="wei-img" style="display:none"/>
		</div>	
		<div id="bg-wrapper">
			<img id="bg-all" style="width:100%;" src="images/bgbig/17.jpg"  />
		</div>
		<script src="images/js/main.js"> </script>
	</body>
</html>
